.card {
  margin: 12px;
  width: 168px;
  height: 168px;
  position: relative;
  perspective: 1000px;
  border: 1px solid inherit;
}
.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}
.card__front {
  position: relative;
  background: url(../assets/game/front_card.png) 100% 100% no-repeat;
}
.card__back {
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.active .card__front {
  transform: rotateY(180deg);
}
.active .card__back {
  transform: rotateY(360deg);
}

.error .card__back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 78, 30, 0.5);
  border-radius: 4px;
}
.error .card__back::before {
  content: url(../assets/game/error.svg);
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%) translateX(-10px) translateY(10px);
}

.correctly .card__back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background: rgba(10, 207, 131, 0.5);
  border-radius: 4px;
}

.correctly .card__back::before {
  content: url(../assets/game/correctly.svg);
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%) translateX(-10px) translateY(10px);
}
