.game-settings {
  max-width: 1000px;
  margin: 36px auto 0 auto;
  padding: 41px 46px 36px 46px;
  background: #ffffff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}
.game-setting {
  &__cards-type {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 256px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
  }
  &__cards-type:last-child {
    margin-top: 37px;
  }
  &__text {
    padding-left: 16px;
  }
  &__title {
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.15px;
    /* Black / High Emphasis */
    color: rgba(0, 0, 0, 0.87);
  }
  &__detailed {
    margin-bottom: 16px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* Black / Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
  }
  &__btn {
    position: relative;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    margin: 0 15px 15px 0;
  }
  &__btn::after {
    content: url(./../assets/icons/game_settings_arrow.svg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in;
  }
  &__btn--active::after {
    transform: rotate(-180deg);
  }
  &__btn:hover {
    background: #f5f1f1;
  }
}

.cards-type {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: max-height 0.5s, padding 0.5s;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 0;
    top: 100%;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24),
      0px 9px 18px rgba(0, 0, 0, 0.18);
  }
  &__list--active {
    max-height: 700px;
  }
  &__item {
    height: 40px;
    padding-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    /* Black / Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    &:hover {
      background-color: rgba(110, 109, 109, 0.274);
    }

    &--active {
      background-color: rgba(92, 198, 87, 0.3);
      &:hover {
        background-color: rgba(92, 198, 87, 0.3);
      }
    }
  }
}
