.pop_up {
  @include center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.25);
  &_window {
    background: #fafafa;
    width: 639px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;

    &__header {
      background: #ffffff;
      width: 100%;
      height: 67px;
      padding: 20px 16px;
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;

      &-text {
        height: min-content;
        @include uptext;
      }
    }
    &__form {
      position: relative;
      height: 334px;
      margin: 33px 19px 26px 21px;

      &_filds {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 50.5px;

        &_inputs {
          display: flex;
          flex-direction: column;
          position: relative;

          &-label {
            position: relative;
            height: 56px;
            width: 328px;
            background: rgba($color: #212121, $alpha: 0.08);
            border-bottom: 1px solid rgba($color: #000, $alpha: 0.6);

            display: flex;
            flex-direction: column;

            border-radius: 4px 4px 0 0;
            box-sizing: border-box;
            padding: 8px 0 8px 52px;
            margin-bottom: 16px;

            transition: 0.3s;
            &::after {
              content: "";
              position: absolute;
              height: 40px;
              width: 40px;
              top: 8px;
              right: 8px;
              background: no-repeat;
              background-image: url();
              background-position: center;
              border-radius: 50%;
            }
          }
          &-text {
            height: min-content;
            margin: 0;

            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 0.75rem;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: rgba(0, 0, 0, 0.38);
          }
          &-input {
            background: transparent;
            border: none;
            outline: none;
            height: 22px;
            width: 90%;
            padding: 0;

            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.87);
          }
          .valid::after {
            background-image: url(../assets/icons/valid.svg);
            background-color: rgba($color: #01878614, $alpha: 0.08);
          }
          .invalid::after {
            background-image: url(../assets/icons/invalid.svg);
            background-color: rgba($color: #4d0000, $alpha: 0.08);
          }
        }
        &-image {
          position: relative;
          height: 163px;
          width: 163px;
          border-radius: 50%;
          object-fit: fill;
          background-image: url(../assets/images/avatar.png);
          background-size: auto 198px;
          background-position: center;

          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-image: url(../assets/images/add.png);
          }
          &:active {
            opacity: 0.7;
          }
        }
        &-file {
          width: 100%;
          height: 100%;
          opacity: 0;
          border-radius: 50%;

          cursor: pointer;
        }
      }
      &_buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 218px;

        display: flex;
        justify-content: space-between;
      }
      &_button-blue,
      &_button-light {
        height: 36px;
        @include center;

        @include buttonText;

        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),
          0px 2px 2px rgba(0, 0, 0, 0.24);
        border-radius: 4px;

        will-change: transform;
        transition: transform 0.3s;

        &:active {
          transform: scale(0.95);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
            0px 2px 2px rgba(0, 0, 0, 0.34);
        }
      }
      &_button-blue {
        width: 108px;
        background: $blue;
        border: 1px solid $blue;

        color: #ffffff;
      }
      &_button-light {
        width: 93px;
        background: #e3f2fd;
        border: 1px solid #e3f2fd;

        color: $blue;
      }
    }
    .tooltip {
      position: relative;
      bottom: -3px;
      width: 90%;
      color: rgb(155, 59, 59);
      background: #ffffff;
      z-index: 5;
      padding: 10px 0;
      box-shadow: 0px 1px 5px rgba(155, 59, 59, 0.2),
        0px 3px 4px rgba(155, 59, 59, 0.12), 0px 2px 4px rgba(155, 59, 59, 0.14);

      border-radius: 5px;
      text-align: center;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 16px;

      text-transform: uppercase;
    }
    .tooltip::before {
      position: absolute;
      top: -5px;
      left: 30px;
      content: "";
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
      background: #ffffff;
      z-index: 4;
    }
  }
}
