.card {
    width: 168px;
    height: 168px;
    position: relative;
    perspective: 1000px;

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        backface-visibility: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url();
    }

    &__back {
        transform: rotateY(180deg);
    }
}

.card:hover .card__front {
    transform: rotateY(180deg);
}
.card:hover .card__back {
    transform: rotateY(360deg);
}
