$blue: #2196f3;
$blue-hover: #1e88e5;
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;

  background: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  height: 64px;
  padding: 0 1.3%;
  .header__logo {
    height: 100%;
    width: 88px;
    @include center;
    .header__logo-item1,
    .header__logo-item2 {
      height: 19px;
      width: 80px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      @include center;
      color: #ffffff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .header__logo-item2 {
      background: #ffffff;
      color: $blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    }
  }
  .header__button {
    height: 36px;
    width: 207px;
    @include center();

    font-family: "Roboto";
    font-weight: 500;
    color: $blue;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
      0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    transition: 0.3s;
    &:active {
      transform: scale(0.97);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3),
        0px 1px 18px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.24);
    }
  }
  .header__nav {
    height: 100%;
    width: 288px;
    padding-left: 148px;
    flex-grow: 20;

    display: flex;
    box-sizing: border-box;
    &_item {
      width: 96px;
      @include center();
      opacity: 0.7;
      &-about-game,
      &-top-score,
      &-settings {
        height: 24px;
        width: 24px;
        margin-bottom: 7px;
      }
      &-about-game {
        background: url(./../../assets/icons/about-game-logo.svg);
      }
      &-top-score {
        background: url(./../../assets/icons/best-score.svg);
      }
      &-settings {
        background: url(./../../assets/icons/settings-logo.svg);
      }
      &-text {
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;

        text-align: center;
        letter-spacing: 0.4px;
      }
    }
    &_item:hover,
    .nav-active {
      opacity: 1;
      background: $blue-hover;
    }
  }
}
